<div class="modal-header">
    <h3 class="modal-title">{{modalState}} User</h3>
</div>
<div class="modal-body">
    <form>
    	<div class="form-group">
    		<label>User Name</label> 
    		<input type="text" class="form-control" ng-model="items.name" placeholder="Name">
    	</div>
    	<div class="form-group">
    		<label>User Email</label> 
    		<input type="text" class="form-control" ng-model="items.email" placeholder="Email">
    	</div>
    	<div class="form-group">
    		<label>User Password</label> 
    		<input type="text" class="form-control" ng-model="items.password" placeholder="Password">
    	</div>
    	<div class="form-group">
    		<label>User Roles</label> 
    		<select class="form-control"
    			ng-options="option.groupId as option.groupName for option in data"
    			ng-model="items.group[0].groupId" >
    		</select>
    	</div>
    </form>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" type="button" ng-show="{{modalState == 'Edit'}}" ng-click="delete()">Delete</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>